/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: white;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  color: #6b1821;
  

}

h3 {
  color: #9d2430;
  

}

h5 {
  text-transform: capitalize;
}

.hero-text {
  color: white;
}

img {
  border-radius: 10px;
}




.card-img-top {
  width: 250px;
  height: 250px;
  position: center;
}

:root {
  --bs-primary-rgb: 163, 189, 189;
  --bs-body-bg: #90a5a540;
  --bs-body-light: white;
  --bs-primary: #90a5a5;
  --bs-primary-rgb: 144, 165, 165;


  /* --bs-tertiary: #861f29; */
  --bs-border-color: #861f29;
  --bs-btn-padding-y: 1rem; 
  --bs-btn-padding-x: .5rem;
  --card-border-color: border-color-translucent;
  
}



.btn {
  text-transform: uppercase;
  font-weight: bold;
}


.btn-primary {
    --bs-btn-color: white;
    --bs-btn-border-color: #861f29;
    --bs-btn-hover-bg: #6b1821;
    --bs-btn-hover-border-color: #861f29;
    --bs-btn-active-bg: #861f29;
    --bs-btn-active-border-color: #861f29;
    --bs-btn-disabled-color: #861f29;
    --bs-btn-bg: #861f29;
}

.btn-danger {
    --bs-btn-color: white;
    --bs-btn-border-color: #6b1821;
    --bs-btn-border-weight: 5;
    --bs-btn-hover-bg: #6b1821;
    --bs-btn-hover-border-color: #3f0e14;
    --bs-btn-active-bg: #861f29;
    --bs-btn-active-border-color: #861f29;
    --bs-btn-disabled-color: #861f29;
    --bs-btn-bg: #861f29;
    --bs-btn-padding-y: .8rem;
    --bs-btn-padding-x: 2rem;
}

.btn-success {
    --bs-btn-color: black;
    --bs-btn-border-color: #b4caca;
    --bs-btn-hover-bg: #93a5a5;
    --bs-btn-hover-border-color: #b4caca;
    --bs-btn-active-bg: #b4caca;
    --bs-btn-active-border-color: #b4caca;
    --bs-btn-disabled-color: #b4caca;
    --bs-btn-bg: #b4caca;
}

.btn-lg {
  --bs-btn-padding-y: 1.5rem;
  --bs-btn-padding-x: 2rem;
}

btn-sm {
  --bs-btn-padding-y: 5rem;
  --bs-btn-padding-x: .5rem;
}


/* nav styling section */

.navbar {
  text-decoration: solid;
  text-transform: uppercase;
}

#collapse navbar-collapse {
  text-align: right;
}

/* hero section */
#hero-home {
  background-image: url(../images/home_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #hero-home-content {
  background-color: #861f2990;
  margin: auto;
  text-align: center;
 }

  #hero-res-content {
  background-color: #861f2990;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 4em;
  text-align: center;
 }


 #hero-menu {
  background-image: url(../images/menu_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #hero-res {
  background-image: url(../images/reservation_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #home-card-menu {
  background-image: url(../images/menu_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }

 #home-card-about-us {
  background-image: url(../images/home_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }

 #home-card-res {
  background-image: url(../images/reservation_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }
 


/* menu section */


 .accordion {
  --bs-accordion-color: #861f29;
  --bs-accordion-bg: #d8e6e9;
  
  --bs-accordion-border-color: white;
  
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: #861f29;
  
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(134, 31, 41);

  --bs-accordion-active-color: white;
  --bs-accordion-active-bg: #861f29;
 }
 .card {

 }
  



  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .product-card {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    --bs-card-inner-border-radius: 0px; 
  }

  @media (min-width: 37.5em) {
    .product-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 67.5em) {
      .product-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }





/* reservation section */
.form-control {
  background-color: #d8e6e9;
  border-color: #a3bdbd;
}

#form-white {
  background-color: white;
}


 /* foot section */
 #footer p {
  line-height: 1;
 }


 #social-footer {
  display: flex;
  justify-content: center;
  align-self: center;
}


