/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  font-family: Bricolage Grotesque", sans-serif;
}

h1 {
  color: white;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-text {
  color: white;
}


.card-img-top {
  width: 250px;
  height: 250px;
  position: center;
}

:root {
  --bs-primary-rgb: 163, 189, 189;
  --bs-body-bg: #a3bdbd;
  --bs-primary: #d8e6e9;
  --bg-body-tertiary: #a3bdbd;
  --bs-border-color: #861f29;
  --bs-btn-padding-y: 1rem; 
  --bs-btn-padding-x: .5rem;

}

.btn-lg {
  --bs-btn-padding-y: 1.5rem;
  --bs-btn-padding-x: 2rem;
}


.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary {
    --bs-btn-color: white;
    --bs-btn-border-color: #861f29;
    --bs-btn-hover-bg: #861f29;
    --bs-btn-hover-border-color: #861f29;
    --bs-btn-active-bg: #861f29;
    --bs-btn-active-border-color: #861f29;
    --bs-btn-disabled-color: #861f29;
    --bs-btn-bg: #861f29;
}

.btn-success {
    --bs-btn-color: black;
    --bs-btn-border-color: #b4caca;
    --bs-btn-hover-bg: #b4caca;
    --bs-btn-hover-border-color: #b4caca;
    --bs-btn-active-bg: #b4caca;
    --bs-btn-active-border-color: #b4caca;
    --bs-btn-disabled-color: #b4caca;
    --bs-btn-bg: #b4caca;
}


/* nav styling section */

/* DO NOT LEAVE THIS AS IS, MUST FIX */
.nav-item {
  text-decoration: solid;
  color: aliceblue;
}

/* hero section */
#hero-home {
  background-image: url(../images/home_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
  text-align: center;
 }

 #hero-home-content {
  background-color: #861f2990;
  margin: auto;
  text-align: center;

 }


 #hero-menu {
  background-image: url(../images/menu_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }

 #hero-res {
  background-image: url(../images/reservation_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }

 #home-card-menu {
  background-image: url(../images/menu_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }

 #home-card-about-us {
  background-image: url(../images/home_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }

 #home-card-res {
  background-image: url(../images/reservation_hero_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 800px;
 }
 


/* menu section */


 .accordion {
  --bs-accordion-color: #861f29;
  --bs-accordion-bg: #d8e6e9;
  
  --bs-accordion-border-color: white;
  
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: #861f29;
  
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(134, 31, 41);

  --bs-accordion-active-color: white;
  --bs-accordion-active-bg: #861f29;
 }

  /* .accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  
  --bs-accordion-border-color: var(--bs-border-color);
  
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
 } */